<div
  class="task"
  [class.notStarted]="task.status == 'Not Started'"
  [class.inProgress]="task.status == 'In Progress'"
  [class.completed]="task.status == 'Completed'"
>
  <div class="header">
      <div>
        <h3>{{ task.title }}</h3>
      </div>
    <select
      name="taskStatusSelector"
      id="taskStatusSelector"
      ngModel="{{task.status}}"
      #taskStatusSelector="ngModel"
      ng-init="option[2]"

    >
      <option *ngFor="let statusType of statusTypes" (click)="updateTask(taskStatusSelector.value)">{{statusType}}</option>
    </select>
  </div>
  <hr>
  <div class="body">
    "{{ task.description }}"
  </div>
</div>
