<!-- Add event binding for form submit... -->
<form
  (ngSubmit)="addTask(f.value); f.reset()"
  #f="ngForm"
  >

  <!-- Apply ngModel to this input... -->
  <input
      name="title"
      class="input form-control"
      type="text"
      placeholder="title"

      ngModel
      #title="ngModel"

      required
      minlength="3"
      maxlength="30"
  />
  <!-- Markup for error messages... -->
  <div class="error" *ngIf="title.touched && !title.valid">
    <p *ngIf="title.errors.required">Title is required</p>
    <p *ngIf="title.errors.minlength">Title must be at least 3 characters</p>
  </div>

  <!-- Apply ngModel to this input... -->
  <input
      name="description"
      class="input"
      type="text"
      placeholder="description"

      ngModel
      #description="ngModel"
  />

  <!-- Disable button if form is invalid. -->
  <button
    type="submit"
    [disabled]="!f.valid"
  >
      Save
  </button>
</form>
